CREDITS
LICENSE

node_modules/*
e2e/*
dist/*

package-lock.json

workspace.code-workspace
.vscode/*

.firebase/*
.sonarlint/*

.firebaserc
firebase.json
firestore.indexes.json
database.rules.json
firestore.rules