<div id="coming-soon" fxLayout="column">

    <div id="coming-soon-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="coming-soon-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="top">

                <div class="logo">
                    <img src="assets/images/avatars/Josefina.jpg">
                </div>

                <div class="title">Hey! Thank you for your cooperation.</div>
                <div class="subtitle">Your negotiation process ends with the agreement of the two parties</div>

            </div>

            <form [formGroup]="form" novalidate>
                <div class="message">
                    Could you please evaluate the agreement you obtained as a result of the bargain?
                </div>

                <star-rating [rating]="rating" [numOfStars]="'10'" (onClick)="onSubmit($event)" [speed]="'noticeable'" (onRatingChange)="onSubmit($event)"> </star-rating>

                <!-- <div class="stock-inventory__buttons">
                    <button type="submit" [disabled]="form.invalid">
                        Submit
                    </button>
                </div> -->

                <!-- <pre>{{ form.value | json }}</pre> -->
            </form>
        </div>

    </div>

</div>