<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to Neşter Negotiation Simulator
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <p>
                In this application, we will be simulating the negotiation between a hospital
                administration (HA) and a government agency (GA) to reach a norm for regulating the
                access to patients' data.
            </p>

            <p>
                The HA has privacy and reputation concerns. Therefore, it may try to restrict the
                GA's access to patients' data under certain conditions, e.g., written consent from the
                patient. To the contrary, the GA values national security more than patient privacy, thus
                will try to access patients' data whenever possible with minimal restrictions
            </p>
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}"
        fxLayoutAlign="center center" fxLayout="column">

        <!-- <div id="login-form" > -->

        <div class="logo" fxHide.gt-xs>
            <img src="assets/images/logos/fuse.svg">
        </div>

        <!-- <div class="title">Please Enter Your Name And Surname</div> -->

        <form name="loginForm" [formGroup]="loginForm" novalidate fxLayout="column" (ngSubmit)="onSubmit()">

            <div class="separator">
                <span class="text">Personal Information</span>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                    Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                    Surname is required
                </mat-error>
            </mat-form-field>

            <div class="separator">
                <span class="text">Opponent Selection</span>
            </div>

            <mat-form-field class="message-text" appearance="outline">
                <mat-select placeholder="Choice Opponent" formControlName="opponent" required>
                    <mat-option *ngFor="let opponent of opponentTypes" [value]="opponent">
                        {{opponent.value}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Opponent selection is required
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" [disabled]="loginForm.invalid"
                type="submit">
                START
            </button>

        </form>

    </div>
</div>