<form #replyForm="ngForm" class="negotiation-input" (ngSubmit)="sendBid($event)" (keydown.enter)="sendBid($event)" fxFlex
    fxLayout="row" fxLayoutAlign="start center">

    <mat-form-field [hideRequiredMarker]="true" floatLabel="never" appearance="standard" class="mr-16 message-text">
        <mat-select placeholder="Subject" floatLabel="never" ngModel required name="subject">
            <mat-option *ngFor="let subject of roles$ | async" [value]="subject">
                {{subject.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true" floatLabel="never" appearance="standard" class="mx-16 message-text">
        <mat-select placeholder="Norm" [(ngModel)]="normField" required name="norm">
            <mat-option *ngFor="let normType of normTypes | enumToArray" [value]="normType">
                {{normType}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true" floatLabel="never" appearance="standard" class="mx-16 message-text">
        <mat-select placeholder="What" ngModel required name="what" multiple 
            matTooltip="You can choice multiple action" [matTooltipPosition]="'above'">
            <mat-option *ngFor="let consequent_ of consequents$ | async" [value]="consequent_">
                {{consequent_.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span> when </span>

    <mat-form-field [hideRequiredMarker]="true" floatLabel="never" appearance="standard" class="ml-16 message-text">
        <mat-select placeholder="Condition" ngModel required name="condition" multiple 
            matTooltip="You can choice multiple condition" [matTooltipPosition]="'above'">
            <mat-option *ngFor="let condition of conditions$ | async" [value]="condition">
                {{condition.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

   <!--<button class="add-message-button" mat-stroked-button (click)="addMessage($event)" aria-label="Add message">
        <span>Add Another</span>
        <mat-icon class="secondary-text">plus_one</mat-icon>
    </button> --> 
    <button class="send-message-button" mat-stroked-button type="submit" aria-label="Send message">
        <span>Send</span>
        <mat-icon class="secondary-text">send</mat-icon>
    </button>
</form>